# Assignment 2

### Exercise 1: Basic Dictionary Creation and Access
Objective: Create a dictionary named student_info containing at least three key-value pairs where keys are student names (as strings) and values are their respective ages (as integers). Then, access and print the age of a specific student.

### Exercise 2: Modifying Dictionary Values
**Objective:** Start with a dictionary `product_prices` where keys are product names (strings) and values are their prices (floats). Select a product and update its price. Then, add a new product with its price to the dictionary.


### Exercise 3: Dictionary Comprehension
**Objective:** Create a dictionary `squared_numbers` using dictionary comprehension where keys are integers from 1 to 10, and values are the squares of these keys.

### Exercise 4: Nested Dictionaries
**Objective:** Create a nested dictionary `employee_data` where each key is an employee ID (integer) and each value is another dictionary with keys 'Name', 'Position', and 'Salary'. Then, access and print the name and position of a specific employee by their ID. This dictionary `employee_data` should have only 5 keys.

### Exercise 5: Merging Dictionaries
**Objective:** You have two dictionaries `dict1` and `dict2` with non-overlapping keys. Merge these two dictionaries into a new dictionary `merged_dict` and print its contents. This `merged_dict` dict should have all the keys.

In [65]:
# Initial product prices
product_prices = {
    "Laptop": 999.99,
    "Smartphone": 499.99,
    "Headphones": 89.99,
    "Camera": 279.99
}

In [165]:
dict1 = {"A": 1, "B": 2, "C": 3}
dict2 = {"D": 4, "E": 5, "F": 6}

## Excercise 1

In [32]:
# First we create the Dictionary with the studen's names and their ages.
student_info = { "Marta" : 27, "Sandra": 24, "Carola": 21, "Antoni": 23 }

In [30]:
# We verify the object type we have created.
type (student_info)

dict

In [33]:
# Now we print the age of a specific student.
print(student_info ["Marta"])

27

In [34]:
print(student_info["Carola"])

21

## Excercise 2

In [66]:
print(product_prices)

{'Laptop': 999.99, 'Smartphone': 499.99, 'Headphones': 89.99, 'Camera': 279.99}

In [69]:
product_prices.update ({"Laptop" : 777.77})

In [70]:
product_prices

{'Laptop': 777.77, 'Smartphone': 499.99, 'Headphones': 89.99, 'Camera': 279.99}

In [71]:
product_prices.update( { "tablet" : 500.99  } )

product_prices

## Excercise 3

In [89]:
# This is the long way to do it.
squared_numbers1 ={1:1**2, 2:2**2, 3:3**2, 4:4**2, 5:5**2, 6:6**2, 7:7**2, 8:8**2,9:9**2, 10:10**2}
squared_numbers1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [87]:
# Here we solved the problem using dictionary comprehension.
squared_numbers = {number: number**2 for number in range(1, 11)}

In [88]:
squared_numbers

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [90]:
type(squared_numbers)

dict

## Excercise 4

In [157]:
employee_data = {20131266: {"Name": "Marco", "Position":"Marketing", "Salary": 100 }, 
                 20111742: {"Name": "Maria", "Position":"Doctor", "Salary": 50 },
                20202366: {"Name": "Juana", "Position":"Designer", "Salary": 200 },
                20091254: {"Name": "Pedro", "Position":"CEO", "Salary": 400 },
                20150364: {"Name": "Alonso", "Position":"Manager", "Salary": 30 }}
employee_data

{20131266: {'Name': 'Marco', 'Position': 'Marketing', 'Salary': 100},
 20111742: {'Name': 'Maria', 'Position': 'Doctor', 'Salary': 50},
 20202366: {'Name': 'Juana', 'Position': 'Designer', 'Salary': 200},
 20091254: {'Name': 'Pedro', 'Position': 'CEO', 'Salary': 400},
 20150364: {'Name': 'Alonso', 'Position': 'Manager', 'Salary': 30}}

In [159]:
print(employee_data [20131266] ["Name"])
print(employee_data [20131266] ["Position"])

Marco
Marketing

## Exercise 5: Merging Dictionaries

In [191]:
dict1

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6}

In [190]:
dict2

{'D': 4, 'E': 5, 'F': 6}

In [188]:
merged_dict = {**dict1, **dict2}
merged_dict

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6}

## Pandas

### Exercise 1: Selecting Single Column with .loc
**Objective**: Use .loc to select and print only the 'Name' column for all rows.

### Exercise 2: Row Slicing with .iloc
**Objective**: Use .iloc to select and print rows 2 through 4 (inclusive).

### Exercise 3: Selecting Multiple Columns with .iloc
**Objective**: Use .iloc to select and print the 'Name' and 'Age' columns for all rows.

### Exercise 4: Conditional Selection with .loc
**Objective**: Use .loc to select and print rows where the 'Age' is greater than 30.

### Exercise 5: Modifying Data with .loc
**Objective**: Use .loc to change the 'City' of the person named 'Alice' to 'Boston'. Then, print the updated DataFrame.

In [ ]:
# Creating a DataFrame for the exercise
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Miami']
}